/* Lazy done styling, works atleast */
* {
    margin: 0;
    padding: 0;
    font-family: JetBrains Mono;
    color: white;
}

html {
    background: #353131;
    height: fit-content;
    scroll-behavior: smooth;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

/* Main page styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2vw;
    width: 100vw;
}

#phone {
    display: none;
}

/* Up arrow styling */
.stickyArrow {
    position: sticky;
    width: 100vw;
    top: 0vw;
    right: 1vw;
    width: 5vw;
}

.upArrow {
    position: absolute;
    top: 1vh;
    left: 48vw;
    width: 4vw;
}

.upArrow>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Name and title styling */
.nameAndTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding: 1vw 2vw;
    width: fit-content;
    border: 0.2vw solid rgba(255, 255, 255, 0.73);
    font-size: 2vh;
}

/* Monitor button styling */
pre {
    width: fit-content;
}

.monitorButtons {
    margin-top: 75vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vw;
}

.monitorButton {
    display: inline-block;
    width: 23vw;
}

.monitorFrame {
    background: #CBCBCB;
    border-radius: 0.1vw;
    border-top: 0.1vw solid #F4F4F4;
    border-right: 0.1vw solid #F4F4F4;
    border-left: 0.1vw solid #F4F4F4;
    font-size: 2vh;
}

.monitorScreen {
    background: #CBCBCB;
    padding: 1vw;
    padding-top: 0;
}

.monitorLogo {
    margin-left: 5%;
    color: black;
}

.monitorContent {
    background: #242424;
    padding: 1vw;
    border-top: 0.45vw solid #969696;
    border-right: 0.3vw solid #969696;
    border-left: 0.3vw solid #969696;
    letter-spacing: 0vw;
}

.monitorText,
.greenText,
.purpleText,
.blueText,
.lightPurpleText {
    background: rgba(0, 0, 0, 0);
    font-size: 1.8vh;
}

.monitorText {
    color: #FFF;
}

.greenText {
    color: #8BFF90;
}

.purpleText {
    color: #B880FF;
}

.blueText {
    color: #97E0FF;
}

.lightPurpleText {
    color: #A6A9FF;
}

.monitorStand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monitorStandPole {
    width: 2.5vw;
    height: 6vh;
    border-right: 0.1vw solid #000;
    border-left: 0.1vw solid #000;
    background: #3D3D3D;
    z-index: 1;
}

.monitorbase {
    text-align: center;
    position: absolute;
    margin-top: 8vh;
}

.monitorbase>img {
    width: 10vw;
}

/* Projects styling */
.projectsDiv {
    margin-top: 80vh;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectScreen {
    width: 55vw;
    height: 92vh;
    background: #CCC7B4;
    margin: 2vw;
}

.projectContent {
    margin: 3%;
    height: 84%;
    border: 1.5vw solid #AFAB9C;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectText {
    width: 94%;
    height: 92%;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectText>div {
    font-size: 3.6vh;
    line-height: 1.5em;
    display: flex;
}

.projectSelection {
    margin: 4vw;
    margin-top: 15vh;
    background: #393939;
    width: 30vw;
    height: 86vh;
}

.projectSelectionContent {
    background-color: #000;
    margin: 2vw;
    height: 90%;
}

.projectSelectionText {
    padding: 5% 8%;
    height: 94%;
}

.projectSelectionText>h2 {
    color: #57DC74;
    border-bottom: 0.3vw solid #57DC74;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.projectSelectionText>ul {
    margin-left: 1vw;
    margin-top: 1vh;
    height: 88%;
    overflow: scroll;
    overflow-x: hidden;
}

.projectSelectionText>ul>li {
    color: #57DC74;
    font-size: 2.5vh;
}

.projectSelectionText>ul>li>a {
    color: #57DC74;
}

.projectSelectionText>ul>li:hover,
.projectSelectionText>ul>li>a:hover {
    cursor: pointer;
    color: #40a155;
}

.projectSelectionText>ul>li:not(:first-child) {
    margin: 6vh 0vw;
}

.projectTitle {
    border-bottom: 0.3vw solid white;
    margin-bottom: 2%;
    color: lightblue;
}

.projectTitle:hover {
    cursor: pointer;
    color: #40a155;
}

.listItemNumber {
    color: #c3ffd0;
    margin-right: 1vw;
}

li {
    display: flex;
    justify-content: space-between;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.project span {
    letter-spacing: 0vw;
    animation-name: blink;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;

    animation-fill-mode: both;
}

.project span:nth-child(2) {
    animation-delay: 0.4s;
}

.project span:nth-child(3) {
    animation-delay: 0.8s;
}

.project span:nth-child(4) {
    animation-delay: 1.2s;
}

.projectImages {
    width: 90%;
    margin-left: 2.5vw;
    margin-top: 2vh;
}

.projectImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 1vh;
}


/* About me styling */
.aboutDiv {
    margin-top: 50vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.aboutMe {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutMeImg {
    width: 30vw;
    padding: 4vw;
}

.aboutMeImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMeText {
    padding: 4vw;
    line-height: 5vh;
    width: 52vw;
}

.aboutMeText>h2 {
    color: #57DC74;
    width: 15vw;
    border-bottom: 0.3vw solid #57DC74;
    font-size: 3.2vh;
    margin-bottom: 2vh;
}

.aboutMeText>p {
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

.aboutMeText>p:nth-child(2) {
    width: 90%;
}

.aboutMeText>p:nth-child(4) {
    width: 100%;
}

/* Contact me styling */
.contactDiv {
    width: 100vw;
    height: 20vh;
    margin-top: 20vh;
    background: #6D5C9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vh;
}

.contact {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.contact>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.contact>div>h2 {
    width: fit-content;
    border-bottom: 0.2vw solid white;
}

.contact>div>div {
    margin-top: 1vh;
}

.contact>div:not(:nth-child(2)) {
    margin-top: 2vh;
}

.contact>div:nth-child(2) {
    margin-bottom: 2vh;
}

.contact>div:not(:nth-child(2))>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact>div:nth-child(2)>div {
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.aroundTheWebItem {
    border-radius: 100%;
}

.aroundTheWebItem>a {
    width: fit-content;
    height: 100%;
    width: 10vw;
}

.aroundTheWebItem>a>img {
    width: 3vw;
    height: 3vw;
    object-fit: cover;
}

.aroundTheWebItem:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

.copyright {
    letter-spacing: 0;
    margin-top: 6.2%;
    position: absolute;
}

.copyright:hover,
.special:hover {
    cursor: pointer;
    color: #40a155;
}

.copyright:active,
.special:active {
    color: #57DC74;
}

.copyIcon {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
    main {
        display: none;
    }

    #phone {
        display: inline-block;
    }
}